ul {
  list-style: none;
  padding-left: 0;
}
h1,
h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

.main-column {
  width: 75%;
  .header {
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .page-title {
    }
    .global-nav {
      ul {
        padding: 0;
        display: flex;
        li {
          transform: skewX(-15deg);
          padding: 0 30px;
          font-weight: bold;
          border-right: 1px solid #000;
          &:last-child {
            border: none;
          }
          a {
            font-size: 14px;
            display: block;
            transform: skewX(15deg);
            text-decoration: none;
          }
        }
      }
    }
  }
  article {
    .top-img-box {
      background-color: #1D2D44;
      img {
        width: 100%;
        vertical-align: bottom;
      }
      p {
        margin: 0;
        line-height: 2;
        color: #fff;
      }
    }
    .news,
    .code-village-real,
    .self-study {
      padding: 0 40px;
      padding-bottom: 100px;
      ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li {
          .article-box {
            .updated-date {
              color: #747373;
              font-size: 12px;
            }
            .article-title {
              margin: 12px 0;
            }
            .article-foot {
              position: relative;
              margin-top: 17px;
              .category {
                display: inline-block;
                line-height: 2;
                background-color: #F3C969;
                width: 120px;
                text-align: center;
                color: #fff;
              }
              .more {
                position: absolute;
                right: 0;
                top: 4px;
                color: #747373;
              }
            }
          }
        }
      }
      .section-title {
        font-size: 20px;
        margin-bottom: 0;
        .exp {
          font-weight: normal;
          font-size: 14px;
          color: #747373;
          &::before {
            content: "\A";
            white-space: pre;
          }
        }
      }
      .bd1 {
        width: 25%;
        border: 4px solid #1D2D44;
        display: inline-block;
        box-sizing: border-box;
      }
      .bd2 {
        width: 75%;
        border: 4px solid #D8D8D8;
        box-sizing: border-box;
        display: inline-block;
      }
    }
    .news {
      ul {
        li {
          &:first-child {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding-top: 10px;
            .img-box {
              width: 47%;
              background-color: blue;
            }
            .article-box {
              width: 47%;
            }
          }
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4) {
            width: 28%;
            padding-top: 47px;
            .img-box {
              width: 100%;
              height: 10px;
              background-color: blue;
            }
          }
        }
      }
    }
    .code-village-real {
      ul {
        li {
          width: 28%;
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3) {
            padding-top: 10px;
          }
          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(6) {
            padding-top: 36px;
          }
          .img-box {
            width: 100%;
            height: 10px;
            background-color: blue;
          }
        }
      }
      .see-more {
        margin: 85px auto 0;
        line-height: 4;
        width: 256px;
        text-align: center;
        background-color: #1D2D44;
        color: #fff;
      }
    }
    .self-study {
      padding-bottom: 60px;
      ul {
        li {
          width: 48%;
          .article-foot {
            height: 32px;
          }
        }
      }
    }
  }
  .bottom-img-box {
    padding: 0 40px;
    img {
      width: 100%;
      vertical-align: bottom;
    }
  }
}
